.user-info {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(5, 19, 19);
  color: aliceblue;
}
 img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
#profile {
  background-color: rgb(53, 54, 54);
  width: 50px;
}