body {
  background-color: rgb(46, 44, 44);
  color: white;
  font-family: sans-serif;

}

.containner {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: flex-start;
  padding: 16px;
}

.user-info {
  display: flex;             
  flex-direction: column;
  align-items: center;       
  background-color: rgb(48, 50, 53);
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  gap: 15px;
}

.card-img {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;       
  overflow: hidden;
}
.card-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
}

.user-about {
  display: flex;
  flex-direction: row; 
  gap: 12px;
  background-color: rgb(48, 50, 53);
  border-radius: 10px;
  padding: 20px;
}

.user-about > .card-info {
  display: flex;            ;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;         

}

.card-item {
  display: flex;
  flex-direction: column;      
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background-color: rgb(99, 102, 105);
  padding: 12px 18px;
  border-radius: 8px;
   min-width: 180px;        
 
}

.card-item p {
  color: #ccc;
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
}

.card-item span {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-left: 6px;
}

@media (max-width: 520px) {
  .user-about > .card-info {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    justify-content: space-between
  }
}
